#### 예제1. 사본이 아니라 동일한 리스트를 참조하는 변수a와 b

In [68]:
a = [1, 2, 3]
b = a
a.append(4)
b

[1, 2, 3, 4]

#### 예제2. 객체가 생성된 후에야 변수가 객체에 할당된다

In [6]:
class Gizmo:
    def __init__(self):
        print('Gizmo id: %d' % id(self))

In [7]:
x = Gizmo()

Gizmo id: 4344825168

In [9]:
y = Gizmo() * 18

Gizmo id: 4344825936

TypeError: unsupported operand type(s) for *: 'Gizmo' and 'int'

In [10]:
dir()

['Gizmo',
 'In',
 'Out',
 '_',
 '_1',
 '_5',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__vsc_ipynb_file__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'b',
 'exit',
 'get_ipython',
 'open',
 'quit',
 'x',
 'y']

#### 예제3. 동일한 객체를 참조하는 charles와 lewis

In [ ]:
charles = {'name' : 'Charles L. Dodgson', 'born' : 1832}
lewis = charles

In [12]:
lewis is charles

True

In [13]:
id(charles), id(lewis)

(4416858624, 4416858624)

In [14]:
lewis['balance'] = 950
charles

{'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}

#### 예제4. alex와 charles를 비교하면 같지만, alex가 charles는 아니다

In [15]:
alex = {'name' : 'Charles L. Dodgson', 'born' : 1832, 'balance' : 950}
alex == charles

True

In [16]:
alex is charles

False

#### 예제5. 초기 t1과 t2는 동일하지만, t1 튜플 안에 있는 가변 항목을 변경하면 달라짐

In [17]:
t1 = (1, 2, [30, 40])
t2 = (1, 2, [30, 40])
t1 == t2, t1 is t2

(True, False)

In [18]:
id(t1[-1])

4416991104

In [19]:
t1[-1].append(99)
t1, id(t1[-1])

((1, 2, [30, 40, 99]), 4416991104)

In [20]:
t1 == t2

False

#### 예제6. 다른 리스트를 담고 있는 얕은 복사 예

In [21]:
l1 = [3, [66, 55, 44], (7, 8, 9)]
l2 = list(l1)

In [22]:
l1.append(100)

In [23]:
l1[1].remove(55)
print('l1:', l1)
print('l2:', l2)

l1: [3, [66, 44], (7, 8, 9), 100]
l2: [3, [66, 44], (7, 8, 9)]

In [24]:
l2[1] += [33, 22]

In [25]:
l2[2] += (10, 11)

print('l1:', l1)
print('l2:', l2)

l1: [3, [66, 44, 33, 22], (7, 8, 9), 100]
l2: [3, [66, 44, 33, 22], (7, 8, 9, 10, 11)]

#### 예제7. 승객을 승차 및 하차하는 버스 Class

In [65]:
class Bus:
    def __init__(self, passengers=None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = list(passengers)
    
    def pick(self, name):
        self.passengers.append(name)
        
    def drop(self, name):
        self.passengers.remove(name)

#### 예제8. copy()와 deepcopy()의 비교

In [66]:
import copy
bus1 = Bus(['Alice' , 'Bill', 'Claire', 'David'])
bus2 = copy.copy(bus1)
bus3 = copy.deepcopy(bus1)
id(bus1), id(bus2), id(bus3)

(4414017744, 4412549200, 4414018656)

In [67]:
bus1.drop('Bill')
bus1.passengers, bus2.passengers, bus3.passengers

(['Alice', 'Claire', 'David'],
 ['Alice', 'Claire', 'David'],
 ['Alice', 'Bill', 'Claire', 'David'])

In [32]:
id(bus1.passengers), id(bus2.passengers), id(bus3.passengers)

(4343901440, 4343901440, 4416669056)

#### 예제9. 순환참조, b가 a를 참조한 후 a의 뒤에 바인딩되는데, deepcopy()는 a를 제대로 복사함

In [33]:
a = [10, 20]
b = [a, 30]
a.append(b)
a

[10, 20, [[...], 30]]

In [34]:
c = copy.deepcopy(a)
c

[10, 20, [[...], 30]]

#### 예제10. 함수는 전달받은 가변 객체를 수정할 수 있다

In [35]:
def f(a, b):
    a += b
    return a

In [36]:
x = 1
y = 2
f(x, y), (x, y)

(3, (1, 2))

In [37]:
a = [1, 2]
b = [3, 4]
f(a, b), (a, b)

([1, 2, 3, 4], ([1, 2, 3, 4], [3, 4]))

In [38]:
t = (10, 20)
u = (30, 40)
f(t, u), (t, u)

((10, 20, 30, 40), ((10, 20), (30, 40)))

#### 예제11. 가변형이 기본값이 될 때의 위험성을 보여주는 간단한 클래스

In [39]:
class HauntedBus:
    """유령 승객이 출몰하는 버스 모델"""
    
    def __init__(self, passengers=[]):
        # [] 가 intepret 단계에서 생성되며 모든 인스턴스들이 같은 대상을 참조하게 되어 오류 발생
        self.passengers = passengers
        
    def pick(self, name):
        self.passengers.append(name)
    
    def drop(self, name):
        self.passengers.remove(name)

#### 예제12. 유령 승객이 출몰하는 버스

In [40]:
bus1 = HauntedBus(['Alice', 'Bill'])
bus1.passengers

['Alice', 'Bill']

In [41]:
bus1.pick('Charlie')
bus1.drop('Alice')
bus1.passengers

['Bill', 'Charlie']

In [42]:
bus2 = HauntedBus()
bus2.pick('Carrie')
bus2.passengers

['Carrie']

In [43]:
bus3 = HauntedBus()
bus3.passengers

['Carrie']

In [44]:
bus3.pick('Dave')
bus2.passengers

['Carrie', 'Dave']

In [45]:
bus2.passengers is bus3.passengers

True

In [46]:
bus1.passengers

['Bill', 'Charlie']

In [47]:
HauntedBus.__init__.__defaults__

(['Carrie', 'Dave'],)

In [49]:
HauntedBus.__init__.__defaults__[0] is bus2.passengers
# bus2.passengers가 HauntedBus.__init__.__defaults__[0]에 바인딩된 별명임을 알 수 있다있다

True

#### 예제13. 받은 인수를 변경하는 위험성을 보여주는 간단한 클래스

In [50]:
class TwilightBus:
    """승객이 사라지게 만드는 버스 모델"""
    
    def __init__(self, passengers=None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = passengers # 사본 생성이 아니라 인수를 별명으로 사용
    
    def pick(self, name):
        self.passengers.append(name)
        
    def drop(self, name):
        self.passengers.remove(name)

#### 예제14. TwilightBus가 하차시킬 때 사라지는 승객들

In [51]:
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Maya', 'Diana']

#### 예제15. 올바르게 수정한 TwilightBus Class

In [52]:
class TwilightBus:
    """승객이 사라지게 만드는 버스 모델"""
    
    def __init__(self, passengers=None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = list(passengers)
    
    def pick(self, name):
        self.passengers.append(name)
        
    def drop(self, name):
        self.passengers.remove(name)

#### 예제16. 하차해도 승객이 사라지지 않음

In [53]:
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Tina', 'Maya', 'Diana', 'Pat']

#### 예제17. 가리키는 참조가 없을 때 객체가 소멸되는 것을 지켜보기

In [54]:
import weakref

s1 = {1, 2, 3}
s2 = s1
def bye():
    print('Gone with the wind...')

In [55]:
ender = weakref.finalize(s1, bye)
ender.alive

True

In [56]:
del s1
ender.alive

True

In [57]:
s2 = 'spam'

Gone with the wind...

In [58]:
ender.alive

False